<div class="container"
  fxLayout="row"
  fxLayout.sm="column"
  fxLayout.xs="column"
  fxLayoutAlign.gt-md="space-around center"
  fxLayoutGap="10px" 
  fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
    <md-card>
        <md-card-header>
          <md-card-title>
            <h3>{{dish.name | uppercase}}</h3>
          </md-card-title>          
        </md-card-header>        
        <img md-card-image src="{{BaseURL + dish.image}}" alt={{dish.name}}>
        <md-card-content>
          <p>{{dish.description}}</p>
        </md-card-content>
        <md-card-actions>
          <button md-button [routerLink]="['/dishdetail',prev]">
            <span class="fa fa-chevron-left fa-lg"></span>
          </button>
          <button md-button (click)="goBack()">BACK</button>
          <button md-button>LIKE</button>
          <button md-button>SHARE</button>
          <span class="flex-spacer"></span>
          <button md-button [routerLink]="['/dishdetail',next]">
            <span class="fa fa-chevron-right fa-lg"></span>
          </button>
        </md-card-actions>
    </md-card>
  </div> 
    
  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]> 
    <md-list> 
      <h2>Comments</h2>    
      <md-list-item *ngFor="let comment of dish.comments">             
        <h4 md-line>{{comment.comment}} </h4>
        <p md-line>  {{comment.rating}} Stars </p>
        <p md-line>
        <span> -- {{comment.author}} {{comment.date | date}}   </span>   
        </p>                        
      </md-list-item>
    </md-list>  
    <md-list >
      <md-list-item>
        {{ commentsForm.value | json }} {{ commentsForm.status | json }}
      </md-list-item>
    </md-list> 
    <div>  
      <form novalidate [formGroup]="commentsForm" (ngSubmit)="onSubmit()">      
        <md-input-container class="full-width" dividerColor="{{(formErrors.author)? 'danger' : 'primary'}}">
          <input mdInput formControlName="author" placeholder="Name" type="text" required>          
            <md-hint color="danger">
              <span [hidden]="!(formErrors.author)">{{formErrors.author}}</span>
            </md-hint> 
          </md-input-container>     
          <md-slider thumbLabel tickInterval="1" value="5" min="1" max="5"></md-slider>      
          <md-input-container class="full-width" dividerColor="{{(formErrors.comment)? 'danger' : 'primary'}}">
            <textarea mdInput formControlName="comment" placeholder="Your Comment" rows=12 required></textarea>
            <md-hint color="danger">
              <span [hidden]="!(formErrors.comment)">
                {{formErrors.comment}}</span>
            </md-hint>
          </md-input-container>          
          <button type="submit" md-button class="background-primary text-floral-white" [disabled]="commentsForm.invalid">Submit</button>        
      </form>
    </div> 
  </div> 
  <div [hidden]="dish || errMess">
    <md-spinner></md-spinner> <h4>Loading . . . Please Wait</h4>
  </div>
  <div *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div> 
</div>
